<h2>Users</h2>
<div class="text-right">
  <a class="btn btn-outline-primary" routerLink="create">New User</a>
</div>

<hr/>
<ngb-pagination
  (pageChange)="onPageChange($event)"
  [page]="users.number + 1"
  [pageSize]="users.number_of_elements"
  [collectionSize]="users.total_elements"
  [disabled]="users.total_pages === 1"
></ngb-pagination>

<app-users-list [users]="users.content" [offset]="size * page + 1"></app-users-list>

<ngb-pagination
  (pageChange)="onPageChange($event)"
  [page]="users.number + 1"
  [pageSize]="users.number_of_elements"
  [collectionSize]="users.total_elements"
  [disabled]="users.total_pages === 1"
></ngb-pagination>
