@import '~bootstrap/scss/bootstrap';
@import '~ngx-toastr/toastr-bs4-alert';

html,
body {
  height: 100vh;
}

main>.container {
  padding: 80px 15px 0;
}

code {
  font-size: 80%;
}

/* Importing Bootstrap SCSS file. */
